<div>
  <div class="ui compact menu">
    <div class="item">
      <%= link_to("ページ一覧", pages_path) %>
    </div>
    <div class="item">
      <%= link_to("ページ 新規登録", new_page_path) %>
    </div>
  </div>
</div>