<div>
  <div class="ui compact menu">
    <div class="item">
      <%= link_to("記事カテゴリ一覧", item_categories_path) %>
    </div>
    <div class="item">
      <%= link_to("記事カテゴリ 新規登録", new_item_category_path) %>
    </div>
  </div>
</div>